---
import BaseLayout from '../layouts/BaseLayout.astro';
import SubCard from '../components/SubCard.astro';
import {formatTests} from '../Javascript/util';

const Physics = await Astro.glob('./Physics/content/*.md');
const fp = formatTests(Physics ,{
    filterOutDraft: true,
    sortByDate: true,
    limit: 5,
});
const English = await Astro.glob('./English/content/*.md');
const fe = formatTests(English ,{
    filterOutDraft: true,
    sortByDate: true,
    limit: 5,
});
const Chemistry = await Astro.glob('./Chemistry/content/*.md');
const fc = formatTests(Chemistry ,{
    filterOutDraft: true,
    sortByDate: true,
    limit: 5,
});
const Biology = await Astro.glob('./Biology/content/*.md');
const fb = formatTests(Biology ,{
    filterOutDraft: true,
    sortByDate: true,
    limit: 5,
});
const AllTests = Physics.concat(English, Chemistry, Biology);
const LatestPosts = formatTests(AllTests ,{
    filterOutDraft: true,
    sortByDate: true,
    limit: 5,
});
---

<BaseLayout page_title="Home">
    <section class="ps">
        <div class="container">
            <h2 class="section_title">Latest Posts</h2>
            <!-- Posts Here  -->
            <div class="posts">

                {LatestPosts.map((test) =>
                    <SubCard frontmatter={test.frontmatter} url={test.url} />
                )}

            </div>

        </div>
    </section>

    <!-- Biology -->
    
    <section class="ps2">
        <div class="container">
            <h2 class="section_title">All Subjects</h2>
            <div class="tab_wig bshad">
                <div class="tabs">
                    <ul class="tab_menu">
                        <li class="tab_items">
                            <a id="btab" data-target="#bcont" class="tab_link active" aria-selected="true" aria-controls="bcont">Biology</a>
                        </li>
                        <li class="tab_items">
                            <a id="ptab" data-target="#pcont" class="tab_link" aria-selected="false" aria-controls="pcont">Physics</a>
                        </li>
                        <li class="tab_items">
                            <a id="ctab" data-target="#vcont" class="tab_link" aria-selected="false" aria-controls="ccont">Chemistry</a>
                        </li>
                        <li class="tab_items">
                            <a id="etab" data-target="#econt" class="tab_link" aria-selected="false" aria-controls="econt">English</a>
                        </li>
                    </ul>
                </div>
                <div class="tabs_content">

                    <!-- Biology Pannel -->
                    <div class="tab_content active" id="bcont" aria-hidden="false" aria-labelledby="btab">
                        <div class="posts">

                            {fb.map((test) =>
                                <SubCard frontmatter={test.frontmatter} url={test.url} />
                            )}
            
                        </div>
                        <a class="sa_btn" href="/Biology">Show All</a>
                    </div>

                    <!-- Physics Pannel -->
                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="ptab">
                        <div class="posts">

                            {fp.map((test) =>
                                <SubCard frontmatter={test.frontmatter} url={test.url} />
                            )}
            
                        </div>
                        <a class="sa_btn" href="/Physics">Show All</a>
                    </div>

                    <!-- Chemistyr Pannel -->
                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="ctab">
                        <div class="posts">

                            {fc.map((test) =>
                                <SubCard frontmatter={test.frontmatter} url={test.url} />
                            )}
            
                        </div>
                        <a class="sa_btn" href="/Chemistry">Show All</a>
                    </div>

                    <!-- English Pannel -->
                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="etab">
                        <div class="posts">

                            {fe.map((test) =>
                                <SubCard frontmatter={test.frontmatter} url={test.url} />
                            )}
            
                        </div>
                        <a class="sa_btn" href="/English">Show All</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="../Javascript/mainPage.js"></script>

    
    

<script is:inline>
// document.querySelector('#search').addEventListener('input', async (e) => {

//     // only load the pagefind script once
//     if (e.target.dataset.loaded !== 'true') {
//     e.target.dataset.loaded = 'true'
//     // load the pagefind script
//     window.pagefind = await import("/pagefind/pagefind.js");

//     }
//     // search the index using the input value
//     const dvalue = await window.pagefind.search(e.target.value);
//     search(dvalue)
//     console.log(dvalue);
//     console.log(search());
//     // clear the old results
//     document.querySelector('#results').innerHTML = ''

//     // add the new results
//     for (const result of search.results) {
//     const data = await result.data()
//     document.querySelector('#results').innerHTML += `
//     <a href="${data.url}">
//     <h3>${data.meta.title}</h3>
//     <img src="${data.meta.image}" style="width:30px;">
//     <p>${data.excerpt}</p>
    
//     </a>`
// }
// })


const searchInput = document.querySelector('#search');

searchInput.addEventListener('input', async (e) => {
    
    let searchTimer
    // console.log(searchInput);

    window.pagefind = await import ('/pagefind/pagefind.js');

    searchAndUpdate(e.target.value , window.pagefind);
})

async function searchAndUpdate(query , find){
    searchTimer = undefined;
    
    // search index
    const search = await find.search(query);
    // clears prev results
    document.querySelector('#results').innerHTML = '';
    // add new result
    for( const result of search.results) {
        const data = await result.data()
        document.querySelector('#results').innerHTML += `
        <a href="${data.url}">
        <h3>${data.meta.title}</h3>
        <img src="${data.meta.image}" style="width:30px;">
        <p>${data.excerpt}</p>
        
        </a>`
    }

}


</script>
</BaseLayout>