---
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const {frontmatter} = Astro.props;
const {pagetitle, imagesrc, imagealt } = frontmatter;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <Head title={pagetitle}></Head>
</head>
<body>
    <Navbar />
    <main>
        <section>
            <div class="container">
                <div class="event_date" data-schedule-noto>
                    <h3 class="today" data-info-today="No Schedule has been provided">Today : <span data-tSubject>No Schedule Present</span></h3>
                    <h3 class="next" data-info-next="No Schedule has been provided">Upcoming : <span data-nSubject> No Schedule Present</span></h3>
                </div>
            </div>
        </section>

        <section class="paper_section  container">
            <div class="ppr_imgs">
                <img src={imagesrc} alt={imagealt}>
                <img src={imagesrc} alt={imagealt}>
            </div>
            <table class="anstbl">
                <tr>
                    <td class="qnum">6</td>
                    <td class="opt">a</td>
                    <td class="qnum">2</td>
                    <td class="opt">a</td>
                    <td class="qnum">3</td>
                    <td class="opt">a</td>
                    <td class="qnum">4</td>
                    <td class="opt">a</td>
                    <td class="qnum">5</td>
                    <td class="opt">a</td>
                    <td class="qnum">6</td>
                    <td class="opt">a</td>
                    <td class="qnum">7</td>
                    <td class="opt">a</td>
                    <td class="qnum">8</td>
                    <td class="opt">a</td>
                    <td class="qnum">9</td>
                    <td class="opt">a</td>
                    <td class="qnum">10</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">11</td>
                    <td class="opt">a</td>
                    <td class="qnum">12</td>
                    <td class="opt">a</td>
                    <td class="qnum">13</td>
                    <td class="opt">a</td>
                    <td class="qnum">14</td>
                    <td class="opt">a</td>
                    <td class="qnum">15</td>
                    <td class="opt">a</td>
                    <td class="qnum">16</td>
                    <td class="opt">a</td>
                    <td class="qnum">17</td>
                    <td class="opt">a</td>
                    <td class="qnum">18</td>
                    <td class="opt">a</td>
                    <td class="qnum">19</td>
                    <td class="opt">a</td>
                    <td class="qnum">20</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">21</td>
                    <td class="opt">a</td>
                    <td class="qnum">22</td>
                    <td class="opt">a</td>
                    <td class="qnum">23</td>
                    <td class="opt">a</td>
                    <td class="qnum">24</td>
                    <td class="opt">a</td>
                    <td class="qnum">25</td>
                    <td class="opt">a</td>
                    <td class="qnum">26</td>
                    <td class="opt">a</td>
                    <td class="qnum">27</td>
                    <td class="opt">a</td>
                    <td class="qnum">28</td>
                    <td class="opt">a</td>
                    <td class="qnum">29</td>
                    <td class="opt">a</td>
                    <td class="qnum">30</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">31</td>
                    <td class="opt">a</td>
                    <td class="qnum">32</td>
                    <td class="opt">a</td>
                    <td class="qnum">33</td>
                    <td class="opt">a</td>
                    <td class="qnum">34</td>
                    <td class="opt">a</td>
                    <td class="qnum">35</td>
                    <td class="opt">a</td>
                    <td class="qnum">36</td>
                    <td class="opt">a</td>
                    <td class="qnum">37</td>
                    <td class="opt">a</td>
                    <td class="qnum">38</td>
                    <td class="opt">a</td>
                    <td class="qnum">39</td>
                    <td class="opt">a</td>
                    <td class="qnum">40</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">41</td>
                    <td class="opt">a</td>
                    <td class="qnum">42</td>
                    <td class="opt">a</td>
                    <td class="qnum">43</td>
                    <td class="opt">a</td>
                    <td class="qnum">44</td>
                    <td class="opt">a</td>
                    <td class="qnum">45</td>
                    <td class="opt">a</td>
                    <td class="qnum">46</td>
                    <td class="opt">a</td>
                    <td class="qnum">47</td>
                    <td class="opt">a</td>
                    <td class="qnum">48</td>
                    <td class="opt">a</td>
                    <td class="qnum">49</td>
                    <td class="opt">a</td>
                    <td class="qnum">50</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">51</td>
                    <td class="opt">a</td>
                    <td class="qnum">52</td>
                    <td class="opt">a</td>
                    <td class="qnum">53</td>
                    <td class="opt">a</td>
                    <td class="qnum">54</td>
                    <td class="opt">a</td>
                    <td class="qnum">55</td>
                    <td class="opt">a</td>
                    <td class="qnum">56</td>
                    <td class="opt">a</td>
                    <td class="qnum">57</td>
                    <td class="opt">a</td>
                    <td class="qnum">58</td>
                    <td class="opt">a</td>
                    <td class="qnum">59</td>
                    <td class="opt">a</td>
                    <td class="qnum">60</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">61</td>
                    <td class="opt">a</td>
                    <td class="qnum">62</td>
                    <td class="opt">a</td>
                    <td class="qnum">63</td>
                    <td class="opt">a</td>
                    <td class="qnum">64</td>
                    <td class="opt">a</td>
                    <td class="qnum">65</td>
                    <td class="opt">a</td>
                    <td class="qnum">66</td>
                    <td class="opt">a</td>
                    <td class="qnum">67</td>
                    <td class="opt">a</td>
                    <td class="qnum">68</td>
                    <td class="opt">a</td>
                    <td class="qnum">69</td>
                    <td class="opt">a</td>
                    <td class="qnum">70</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">71</td>
                    <td class="opt">a</td>
                    <td class="qnum">72</td>
                    <td class="opt">a</td>
                    <td class="qnum">73</td>
                    <td class="opt">a</td>
                    <td class="qnum">74</td>
                    <td class="opt">a</td>
                    <td class="qnum">75</td>
                    <td class="opt">a</td>
                    <td class="qnum">76</td>
                    <td class="opt">a</td>
                    <td class="qnum">77</td>
                    <td class="opt">a</td>
                    <td class="qnum">78</td>
                    <td class="opt">a</td>
                    <td class="qnum">79</td>
                    <td class="opt">a</td>
                    <td class="qnum">80</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">81</td>
                    <td class="opt">a</td>
                    <td class="qnum">82</td>
                    <td class="opt">a</td>
                    <td class="qnum">83</td>
                    <td class="opt">a</td>
                    <td class="qnum">84</td>
                    <td class="opt">a</td>
                    <td class="qnum">85</td>
                    <td class="opt">a</td>
                    <td class="qnum">86</td>
                    <td class="opt">a</td>
                    <td class="qnum">87</td>
                    <td class="opt">a</td>
                    <td class="qnum">88</td>
                    <td class="opt">a</td>
                    <td class="qnum">89</td>
                    <td class="opt">a</td>
                    <td class="qnum">90</td>
                    <td class="opt">a</td>
                </tr>

                <tr>
                    <td class="qnum">91</td>
                    <td class="opt">a</td>
                    <td class="qnum">92</td>
                    <td class="opt">a</td>
                    <td class="qnum">93</td>
                    <td class="opt">a</td>
                    <td class="qnum">94</td>
                    <td class="opt">a</td>
                    <td class="qnum">95</td>
                    <td class="opt">a</td>
                    <td class="qnum">96</td>
                    <td class="opt">a</td>
                    <td class="qnum">97</td>
                    <td class="opt">a</td>
                    <td class="qnum">98</td>
                    <td class="opt">a</td>
                    <td class="qnum">99</td>
                    <td class="opt">a</td>
                    <td class="qnum">100</td>
                    <td class="opt">a</td>
                </tr>
            </table>
        </section>

    </main>
    <Footer />
    <script src="../Javascript/Search.js"></script>
</body>
</html>