---
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const {frontmatter} = Astro.props;
const {subject, syllabus, imgSrc1, imgSrc2, imgSrc3, imgSrc4, series} = frontmatter;
const {mq1, mq2, mq3, mq4, mq5, mq6, mq7, mq8, mq9, mq10, mq11, mq12, mq13, mq14,
mq15, mq16, mq17, mq18, mq19, mq20, mq21, mq22,mq23,mq24,mq25,mq26,mq27,mq28,mq29,mq30,
mq31,mq32,mq33,mq34,mq35,mq36,mq37,mq38,mq39,mq40,mq41,mq42,mq43,mq44,mq45,mq46,mq47,mq48,mq49,mq50,
mq51,mq52,mq53,mq54,mq55,mq56,mq57,mq58,mq59,mq60,mq61,mq62,mq63,mq64,mq65,mq66,mq67,mq68,mq69,mq70,
mq71,mq72,mq73,mq74,mq75,mq76,mq77,mq78,mq79,mq80,mq81,mq82,mq83,mq84,mq85,mq86,mq87,mq88,mq89,mq90,
mq91,mq92,mq93,mq94,mq95,mq96,mq97,mq98,mq99,mq100} = frontmatter;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <Head title={`${subject} - ${syllabus} (Series - ${series}) `}></Head>
</head>
<body>
    <Navbar />
    <main>
        <section>
            <div class="container">
                <div class="event_date" data-schedule-noto>
                    <h3 class="today" data-info-today="No Schedule has been provided">Today : <span data-tSubject>No Schedule Present</span></h3>
                    <h3 class="next" data-info-next="No Schedule has been provided">Upcoming : <span data-nSubject> No Schedule Present</span></h3>
                </div>
            </div>
        </section>

        <section class="paper_section  container">
            <div class="ppr_imgs">
                <img src={imgSrc1} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
                <img src={imgSrc2} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
                <img src={imgSrc3} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
                <img src={imgSrc4} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
            </div>
            <table class="anstbl">
                <tr>
                    <td class="qnum">1</td>
                    <td class="opt">{mq1}</td>
                    <td class="qnum">2</td>
                    <td class="opt">{mq2}</td>
                    <td class="qnum">3</td>
                    <td class="opt">{mq3}</td>
                    <td class="qnum">4</td>
                    <td class="opt">{mq4}</td>
                    <td class="qnum">5</td>
                    <td class="opt">{mq5}</td>
                    <td class="qnum">6</td>
                    <td class="opt">{mq6}</td>
                    <td class="qnum">7</td>
                    <td class="opt">{mq7}</td>
                    <td class="qnum">8</td>
                    <td class="opt">{mq8}</td>
                    <td class="qnum">9</td>
                    <td class="opt">{mq9}</td>
                    <td class="qnum">10</td>
                    <td class="opt">{mq10}</td>
                </tr>

             <tr>
                    <td class="qnum">11</td>
                    <td class="opt">{mq11}</td>
                    <td class="qnum">12</td>
                    <td class="opt">{mq12}</td>
                    <td class="qnum">13</td>
                    <td class="opt">{mq13}</td>
                    <td class="qnum">14</td>
                    <td class="opt">{mq14}</td>
                    <td class="qnum">15</td>
                    <td class="opt">{mq15}</td>
                    <td class="qnum">16</td>
                    <td class="opt">{mq16}</td>
                    <td class="qnum">17</td>
                    <td class="opt">{mq17}</td>
                    <td class="qnum">18</td>
                    <td class="opt">{mq18}</td>
                    <td class="qnum">19</td>
                    <td class="opt">{mq19}</td>
                    <td class="qnum">20</td>
                    <td class="opt">{mq20}</td>
                </tr>

                <tr>
                    <td class="qnum">21</td>
                    <td class="opt">{mq21}</td>
                    <td class="qnum">22</td>
                    <td class="opt">{mq22}</td>
                    <td class="qnum">23</td>
                    <td class="opt">{mq23}</td>
                    <td class="qnum">24</td>
                    <td class="opt">{mq24}</td>
                    <td class="qnum">25</td>
                    <td class="opt">{mq25}</td>
                    <td class="qnum">26</td>
                    <td class="opt">{mq26}</td>
                    <td class="qnum">27</td>
                    <td class="opt">{mq27}</td>
                    <td class="qnum">28</td>
                    <td class="opt">{mq28}</td>
                    <td class="qnum">29</td>
                    <td class="opt">{mq29}</td>
                    <td class="qnum">30</td>
                    <td class="opt">{mq30}</td>
                </tr>

                <tr>
                    <td class="qnum">31</td>
                    <td class="opt">{mq31}</td>
                    <td class="qnum">32</td>
                    <td class="opt">{mq32}</td>
                    <td class="qnum">33</td>
                    <td class="opt">{mq33}</td>
                    <td class="qnum">34</td>
                    <td class="opt">{mq34}</td>
                    <td class="qnum">35</td>
                    <td class="opt">{mq35}</td>
                    <td class="qnum">36</td>
                    <td class="opt">{mq36}</td>
                    <td class="qnum">37</td>
                    <td class="opt">{mq37}</td>
                    <td class="qnum">38</td>
                    <td class="opt">{mq38}</td>
                    <td class="qnum">39</td>
                    <td class="opt">{mq39}</td>
                    <td class="qnum">40</td>
                    <td class="opt">{mq40}</td>
                </tr>

                <tr>
                    <td class="qnum">41</td>
                    <td class="opt">{mq41}</td>
                    <td class="qnum">42</td>
                    <td class="opt">{mq42}</td>
                    <td class="qnum">43</td>
                    <td class="opt">{mq43}</td>
                    <td class="qnum">44</td>
                    <td class="opt">{mq44}</td>
                    <td class="qnum">45</td>
                    <td class="opt">{mq45}</td>
                    <td class="qnum">46</td>
                    <td class="opt">{mq46}</td>
                    <td class="qnum">47</td>
                    <td class="opt">{mq47}</td>
                    <td class="qnum">48</td>
                    <td class="opt">{mq48}</td>
                    <td class="qnum">49</td>
                    <td class="opt">{mq49}</td>
                    <td class="qnum">50</td>
                    <td class="opt">{mq50}</td>
                </tr>

                <tr>
                    <td class="qnum">51</td>
                    <td class="opt">{mq51}</td>
                    <td class="qnum">52</td>
                    <td class="opt">{mq52}</td>
                    <td class="qnum">53</td>
                    <td class="opt">{mq53}</td>
                    <td class="qnum">54</td>
                    <td class="opt">{mq54}</td>
                    <td class="qnum">55</td>
                    <td class="opt">{mq55}</td>
                    <td class="qnum">56</td>
                    <td class="opt">{mq56}</td>
                    <td class="qnum">57</td>
                    <td class="opt">{mq57}</td>
                    <td class="qnum">58</td>
                    <td class="opt">{mq58}</td>
                    <td class="qnum">59</td>
                    <td class="opt">{mq59}</td>
                    <td class="qnum">60</td>
                    <td class="opt">{mq60}</td>
                </tr>

                <tr>
                    <td class="qnum">61</td>
                    <td class="opt">{mq61}</td>
                    <td class="qnum">62</td>
                    <td class="opt">{mq62}</td>
                    <td class="qnum">63</td>
                    <td class="opt">{mq63}</td>
                    <td class="qnum">64</td>
                    <td class="opt">{mq64}</td>
                    <td class="qnum">65</td>
                    <td class="opt">{mq65}</td>
                    <td class="qnum">66</td>
                    <td class="opt">{mq66}</td>
                    <td class="qnum">67</td>
                    <td class="opt">{mq67}</td>
                    <td class="qnum">68</td>
                    <td class="opt">{mq68}</td>
                    <td class="qnum">69</td>
                    <td class="opt">{mq69}</td>
                    <td class="qnum">70</td>
                    <td class="opt">{mq70}</td>
                </tr>

                <tr>
                    <td class="qnum">71</td>
                    <td class="opt">{mq71}</td>
                    <td class="qnum">72</td>
                    <td class="opt">{mq72}</td>
                    <td class="qnum">73</td>
                    <td class="opt">{mq73}</td>
                    <td class="qnum">74</td>
                    <td class="opt">{mq74}</td>
                    <td class="qnum">75</td>
                    <td class="opt">{mq75}</td>
                    <td class="qnum">76</td>
                    <td class="opt">{mq76}</td>
                    <td class="qnum">77</td>
                    <td class="opt">{mq77}</td>
                    <td class="qnum">78</td>
                    <td class="opt">{mq78}</td>
                    <td class="qnum">79</td>
                    <td class="opt">{mq79}</td>
                    <td class="qnum">80</td>
                    <td class="opt">{mq80}</td>
                </tr>

                <tr>
                    <td class="qnum">81</td>
                    <td class="opt">{mq81}</td>
                    <td class="qnum">82</td>
                    <td class="opt">{mq82}</td>
                    <td class="qnum">83</td>
                    <td class="opt">{mq83}</td>
                    <td class="qnum">84</td>
                    <td class="opt">{mq84}</td>
                    <td class="qnum">85</td>
                    <td class="opt">{mq85}</td>
                    <td class="qnum">86</td>
                    <td class="opt">{mq86}</td>
                    <td class="qnum">87</td>
                    <td class="opt">{mq87}</td>
                    <td class="qnum">88</td>
                    <td class="opt">{mq88}</td>
                    <td class="qnum">89</td>
                    <td class="opt">{mq89}</td>
                    <td class="qnum">90</td>
                    <td class="opt">{mq90}</td>
                </tr>

                <tr>
                    <td class="qnum">91</td>
                    <td class="opt">{mq91}</td>
                    <td class="qnum">92</td>
                    <td class="opt">{mq92}</td>
                    <td class="qnum">93</td>
                    <td class="opt">{mq93}</td>
                    <td class="qnum">94</td>
                    <td class="opt">{mq94}</td>
                    <td class="qnum">95</td>
                    <td class="opt">{mq95}</td>
                    <td class="qnum">96</td>
                    <td class="opt">{mq96}</td>
                    <td class="qnum">97</td>
                    <td class="opt">{mq97}</td>
                    <td class="qnum">98</td>
                    <td class="opt">{mq98}</td>
                    <td class="qnum">99</td>
                    <td class="opt">{mq99}</td>
                    <td class="qnum">100</td>
                    <td class="opt">{mq100}</td> 
                </tr>
            </table>
        </section>

    </main>
    <Footer />
</body>
</html>