---
import '../styles/stylesheet.css';
import TestPageHead from '../components/TestPageHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import EventDate from '../components/EventDate.astro';

const {frontmatter} = Astro.props;
const {subject, syllabus, Images, series} = frontmatter;
const {mq1, mq2, mq3, mq4, mq5, mq6, mq7, mq8, mq9, mq10, mq11, mq12, mq13, mq14,
mq15, mq16, mq17, mq18, mq19, mq20, mq21, mq22,mq23,mq24,mq25,mq26,mq27,mq28,mq29,mq30,
mq31,mq32,mq33,mq34,mq35,mq36,mq37,mq38,mq39,mq40,mq41,mq42,mq43,mq44,mq45,mq46,mq47,mq48,mq49,mq50,
mq51,mq52,mq53,mq54,mq55,mq56,mq57,mq58,mq59,mq60,mq61,mq62,mq63,mq64,mq65,mq66,mq67,mq68,mq69,mq70,
mq71,mq72,mq73,mq74,mq75,mq76,mq77,mq78,mq79,mq80,mq81,mq82,mq83,mq84,mq85,mq86,mq87,mq88,mq89,mq90,
mq91,mq92,mq93,mq94,mq95,mq96,mq97,mq98,mq99,mq100} = frontmatter;
---
<!DOCTYPE html>
<html lang="en" >
<head >
    <TestPageHead title={`${subject} - ${syllabus} (Series - ${series}) `} imgSrc1={Images[0]} syllabus={syllabus}></TestPageHead>
</head>
<body data-pagefind-body>
    <Navbar />
    <main data-syllabus={syllabus} data-subject={subject} data-pagefind-index-attrs="data-syllabus, data-subject" >
        <section>
            <div class="container">
                <EventDate />
            </div>
        </section>

        <section class="paper_section  container">
            <div class="ppr_imgs">
                {
                    Images.map((img) =>(
                    <img data-pagefind-meta="image[src]" src={img} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
                    ))
                }
            </div>
            <slot />
            <table class="anstbl" data-pagefind-ignore="all">
                <tr>
                    <td class="opt">{mq1}</td>
                </tr>
            </table>
        </section>

    </main>
    <Footer />
</body>
</html>