---
import '../styles/stylesheet.css';
import TestPageHead from '../components/TestPageHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import EventDate from '../components/EventDate.astro';

const {frontmatter} = Astro.props;
const {subject, syllabus, Images, series, mcqs} = frontmatter;
---
<!DOCTYPE html>
<html lang="en" >
<head >
    <TestPageHead title={`${subject} - ${syllabus} (Series - ${series}) `} imgSrc1={Images[0]} syllabus={syllabus}></TestPageHead>
</head>
<body data-pagefind-body>
    <Navbar />
    <main data-syllabus={syllabus} data-subject={subject} data-pagefind-index-attrs="data-syllabus, data-subject" >
        <section>
            <div class="container">
                <EventDate />
            </div>
        </section>

        <section class="paper_section  container">
            <div class="ppr_imgs">
                { 
                    Images.map((img, index) =>(
                    <img data-pagefind-meta={index === 0 && 'image[src]'} src={img} alt={`${subject} - ${syllabus} (Series - ${series}) `}>
                    ))
                }
            </div>
            <slot />
            <table class="anstbl" data-pagefind-ignore="all">
                <tr>
                    { 
                        mcqs.map((mcq) =>(
                        <td class="opt">{mcq}</td>
                        ))
                    }
                </tr>
            </table>
        </section>

    </main>
    <Footer />
</body>
</html>